
.e62_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e62_3 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:0px;
	top:-8.63139533996582px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e62_4 { 
	background-color:rgba(26.000000350177288, 93.00000205636024, 153.00000607967377, 1);
	width:1458px;
	height:1033px;
	position:absolute;
	left:-9px;
	top:-9px;
}
.e63_52 { 
	color:rgba(255, 255, 255, 1);
	width:129px;
	height:85px;
	position:absolute;
	left:330px;
	top:148px;
	font-family:Inter;
	text-align:left;
	font-size: 60px;
	letter-spacing:0;
}
.e63_53 { 
	color:rgba(255, 255, 255, 1);
	width:258px;
	height:85px;
	position:absolute;
	left:201px;
	top:306px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e63_54 { 
	color:rgba(255, 255, 255, 1);
	width:258px;
	height:85px;
	position:absolute;
	left:201px;
	top:473px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e63_55 { 
	color:rgba(255, 255, 255, 1);
	width:258px;
	height:85px;
	position:absolute;
	left:201px;
	top:633px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}

.e63_76 { 
	width:410px;
	height:129px;
	position:absolute;
	left:515px;
	top:812px;
}
.e63_77 { 
	color:rgba(255, 255, 255, 1);
	width:217px;
	height:85px;
	position:absolute;
	left:612px;
	top:834px;
	font-family:HYGothic-Extra;
	text-align:left;
	font-size:59px;
	letter-spacing:0;
}
.e63_78 { 
	background-color:rgba(255, 255, 255, 1);
	width:703px;
	height:95px;
	position:absolute;
	left:536px;
	top:143px;
}
.e63_79 { 
	background-color:rgba(255, 255, 255, 1);
	width:703px;
	height:95px;
	position:absolute;
	left:536px;
	top:301px;
}
.e63_80 { 
	background-color:rgba(255, 255, 255, 1);
	width:703px;
	height:95px;
	position:absolute;
	left:536px;
	top:468px;
}
.e63_81 { 
	background-color:rgba(255, 255, 255, 1);
	width:703px;
	height:95px;
	position:absolute;
	left:536px;
	top:628px;
}
