<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=HYGothic-Extra&display=swap" rel="stylesheet" />
    <link href="{% static 'css/home.css' %}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
    <div class=e33_135>
      <div class="e33_137"></div>
      <div class= "rocket">

      </div>
      <!-- moon -->
      <div class=e33_153></div>


      <div class="leftblue"></div>
      <div class="e33_193"></div><span  class="e33_194">Meeting List</span><span  class="e33_195"><a href="/users/logout/">로그아웃</a></span>
      <div class="e33_196"></div>
      <div class="e33_197">
          {% for blog in blogs %}
          <div class="blog-container">
              <div class="blog-item">
                  <h2>{{ blog.title }}</h2>
                  <a href="{{ blog.id }}">이동하기</a>
                  <p>{{ blog.content }}</p>
                  <p>{{ blog.space }}</p>
                  <p>{{ blog.meet_time }}</p>
              </div>
          </div>

          {% endfor %}
      </div><span  class="e33_198"><a href="add/">작성</a></span>
      <div class="e33_202"></div>
      <div class=e33_206>
        <!-- heart -->
        <div class="heart"></div>
        <div class="talk"></div>
        <div class=e33_203>
          <div class="likes"></div>
        </div>
      </div>
      <div class="planet">

      </div>
      <div class=e33_241>
        <div class=e33_225>
          <div class="e33_226"></div>
          <div class="e33_227"></div>
        </div>
        <div class=e33_228>
          <div class="e33_229"></div>
          <div class="e33_230"></div>
        </div>
        <div class=e33_231>
          <div class="e33_232"></div>
          <div class="e33_233"></div>
        </div>
        <div class=e33_234>
          <div class="e33_235"></div>
          <div class="e33_236"></div>
        </div>
        <div class=e33_237>
          <div class="e33_238"></div>
          <div class="e33_239"></div>
        </div>
      </div>
    </div>
</body>
</html>