<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=HYGothic-Extra&display=swap" rel="stylesheet" />
    <link href="{% static 'css/details.css' %}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
    <div class="e63_82"></div>
        <span  class="e63_86"> <a href="/blog" style="color: white; text-decoration: none;">돌아가기</a></span>
        <div class="e63_87"></div>
        <div class="e63_93"></div>
          <button  class="e63_97 create-button"><a href="{% url 'update' blog.id %}" style="color: white; text-decoration: none;">수정</a></button>
          <div  class="e63_96">
              <form id="delete-form" method="post" action="{% url 'delete' blog.id %}">
                  {% csrf_token %}

                  <button id="box" class="create-button" type="submit" style="color: white; height: 100px; text-decoration: none; font-size: 40px;">삭제</button>
              </form>
          </div>

    <div class="e63_110">
        <h2>{{ blog.title }}</h2>
        <p>{{ blog.content }}</p>
        <p>{{ blog.space }}</p>
        <p>{{ blog.meet_time }}</p>
    </div>

</body>
<script>
    document.getElementById("delete-form").addEventListener("submit", function(event) {
        event.preventDefault();
        var confirmed = confirm("정말로 삭제하시겠습니까?");

        if (confirmed) {
            this.submit();
        }
    });
</script>
</html>