<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label>제목</label>
            <input name="title" type="text" value="{{ blog.title }}">
        </div>
        <div>
            <label>약속 내용</label>
            <textarea name="content">{{ blog.content }}</textarea>
        </div>
        <div>
            <label>약속 장소</label>
            <input name="space" type="text" value="{{ blog.space }}">
        </div>
        <div>
            <label>약속 시간</label>
            <input name="meet_time" type="text" placeholder="YYYY-MM-DD HH:MM">
        </div>
    <button type="submit">작성</button>
    </form>
</body>
</html>